@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:slnt,wght@12,100..1000&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../imgs/about_back.jpg);
}
.one{
    padding: 17px;
    margin: 0;
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: relative;
    top: 0;
}


.base{
    /* border: 2px solid; */
    
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.block{
    background-color: rgb(192, 168, 139);
    height: 490px;
    width: 100%;
    z-index: -1;
    position: absolute;
}
.two{
    display: flex
    ;
        justify-content: space-around;
        align-self: start;
        margin: 50px 47px;
        height: 350px;
}
.my_about_img{
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 190px;
    object-fit: cover;
    background-color: aqua;
    overflow: hidden;
    z-index: -1;
}
.my_about_img img{
    transform: scale(0.6) translate(-733px, -1151px);
}
.about_two_right{
    max-width: 61%;
}

.three
{
    display: flex;
        justify-content: space-around;
        align-self: start;;
        margin: 70px 10px 25px 10px;
        
}


.about_three_right{
    border: 2px solid;
    align-items: center;
    justify-content: center;
    
}
.about_me{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 130px;
    color: rgb(50, 38, 24);
}
.about_me_intro{
    font-family:"Montserrat", sans-serif;
    font-size: 17px;
    font-weight:350;
    color: rgb(50, 38, 24);
}

.education{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 50px;
    color: rgb(50, 38, 24);

}
.education_text{
    font-family:"Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: rgb(50, 38, 24);
}

.circle_img{
    height: 150px;
    width: 150px;
    border: 1px solid wheat;
    border-radius: 50%;
    overflow: hidden;
    margin: 3px 5px;
    background-color: rgba(245, 222, 179, 0.703);
}
.hobbies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0px;
}
.hobbie_card{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.dancing img{
    transform: translateX(-61px) scale(0.8) translateY(-26px);
}
.reading img {
    transform: translate(-88px, -17px);
}
.travelling img{
    transform: scale(0.9) translate(-86px, -12px);

}
.interests{
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 50px;
    color: rgb(50, 38, 24);
}

.interest_para{
    margin: 20px 0px;
    font-family:"Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
    color: rgb(50, 38, 24);
}
.four{
    margin: 20px;
}

@media only screen and (max-width:1300px) {
    .about_two_right{
        max-width: 55%;
    }

    
}

@media only screen and (max-width:1120px) {
    .two{
        flex-direction: column;
        align-items: center;
        height: 650px;

    }
    .about_two_right{
        text-align: center;
        max-width: 100%;
    }
.block{
    height: 800px;
}
.three{
    display: flex;
    flex-direction: column;
    align-items: center;

}
    
}
@media only screen and (max-width: 730px) {
    .block{
        height: 885px;
    }
    .two{
        height: 760px;
    }
    .my_about_img{
        width: 305px;
        height: 305px;
        border-radius: 190px;
    
}
.circle_img{
    height: 100px;
    width: 100px;
    border-radius: 50%;

}
.my_about_img img{
    transform: scale(0.6) translate(-766px, -1210px)
}
.dancing img{
transform: translateX(-89px) scale(0.6) translateY(-64px)
}

.reading img {
    transform: scale(0.6) translate(-157px, -56px);
}
.travelling img {
    transform: scale(0.6) translate(-148px, -58px);
}
}
@media only screen and (max-width: 560px) {
    .about_me{
        font-size: 120px;
        
    }
    .circle_img{
        height: 80px;
        width: 80px;
        border-radius: 80px;
        

    }
    .reading img {
        transform: scale(0.6) translate(-171px, -60px);
    }
    .coding img
        {
            transform: scale(0.7) translate(-86px, -41px);
        }
    .dancing img {
            transform: translateX(-99px) scale(0.6) translateY(-81px);
        }
        .travelling img {
            transform: scale(0.6) translate(-174px, -60px);
        }
    

}

@media only screen and (max-width: 510px) {
    .about_me{
        font-size: 100px;
        
    }
.about_me_intro{
    font-size: 17px;
}

.education_text{
    font-size: 15px;

}
.education{
    font-size: 45px;
}
.interests{
    font-size: 45px;
}
.my_about_img img{
    transform: scale(0.6) translate(-772px, -1210px)
}
.reading img {
        transform: scale(0.5) translate(-223px, -88px);
    }

}

@media only screen and (max-width:435px) {
    .about_me{
        font-size: 80px;
    }
    .education{
        font-size: 38px;
    }
    .education_text{
        font-size: 13px;
    }
    .aboutimgs img{
        width: 270px;
        height: 270px;

    }
    .my_about_img img{
        /* transform: scale(0.6) translate(-796px, -1210px) */
    }
    .interests{
        font-size: 38px;
    }
    .hobbies{
        display: flex;
        flex-direction: column;

    }
    .circle_img{
        height: 100px;
        width: 100px;
        border-radius: 100px;
        margin-top: 15px;
    }
    .about_me_intro{
        font-size: 15px;
    }
    .two{
        height: 750px;
    }
    .reading img {
        transform: scale(0.6) translate(-171px, -66px);
    }
    
}








