@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:slnt,wght@12,100..1000&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../imgs/about_back.jpg);
}
.one{
    padding: 17px;
    margin: 0;
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: relative;
    top: 0;
}


.base{
    /* border: 2px solid; */
    
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.block{
    background-color: rgb(192, 168, 139);
    height: 490px;
    width: 100%;
    z-index: -1;
    position: absolute;
}
.two{
    display: flex
    ;
        justify-content: space-around;
        align-self: start;
        margin: 50px 47px;
        height: 350px;
}
.my_about_img{
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 190px;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
}
.my_about_img img{
    transform: scale(0.6) translate(-733px, -1151px);
}
.about_two_right{
    max-width: 55%;
}

.three
{
    display: flex;
        justify-content: space-between;
        align-self: start;;
        margin: 70px 40px 25px 40px;
        
}


.about_three_right{
    border: 2px solid;
    align-items: center;
    justify-content: center;
    
}
.about_me{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 130px;
    color: rgb(50, 38, 24);
}
.about_me_intro{
    font-family:"Montserrat", sans-serif;
    font-size: 17px;
    font-weight:350;
    color: rgb(50, 38, 24);
}
.aboutimgs img{
    width: 550px;
    margin-top: 115px;
    border-radius: 3%;
}

.education{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 61px;
    color: rgb(50, 38, 24);
    margin-left: 4px;

}
.education_text{
    font-family:"Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: rgb(50, 38, 24);
    
}
.duration{
    margin: 5px;
}

.circle_img{
    height: 150px;
    width: 150px;
    border: 1px solid wheat;
    border-radius: 50%;
    overflow: hidden;
    margin: 3px 5px;
    background-color: rgba(245, 222, 179, 0.703);
}
.hobbies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px 0px;
}
.hobbie_card{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.dancing img{
    transform: translateX(-61px) scale(0.8) translateY(-26px);
}
.reading img {
    transform: translate(-88px, -17px);
}
.travelling img{
    transform: scale(0.9) translate(-86px, -12px);

}
.interests{
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 50px;
    color: rgb(50, 38, 24);
}

.interest_para{
    margin: 20px 0px;
    font-family:"Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
    color: rgb(50, 38, 24);
}
.four{
    margin: 20px;
}

.left_seg_circle{
    border: 2px solid rgb(87 69 47);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.left_seg_line{
    width: 2px;
    height: 120px;
    background-color: rgb(87 69 47);
}
.duration{
    font-weight: 500;
}
.seg_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7px;
}
.seg_right{
    margin-left: 10px;
    text-align: left;

}
.segment{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}
.institute{
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}
@media only screen and(min-width:1330px) {
    .institute{
        
    }
    
}

@media only screen and (max-width:1330px) {
    .about_two_right{
        max-width: 55%;
    }
    .left_seg_line{
        height: 135px;        
    }
    .three{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -100px;
    
    }
    .education{
        text-align: center;
        margin-top: 15px;
    }
    .two{
        height: 370px;
    }

    
}

@media only screen and (max-width:1120px) {
    .two{
        flex-direction: column;
        align-items: center;
        height: 680px;

    }
    .about_two_right{
        text-align: center;
        max-width: 80%;
    }
.block{
    height: 800px;
}

.left_seg_line{
    height: 115px;        
}
    
}
@media only screen and (max-width: 930px) {
    .education_text{
        font-size: 15px;
    
    }
    .about_two_right{
        max-width: 100%;
    }
       
}
@media only screen and (max-width: 790px){
    .block{
        height:810px;
    }
    .about_two_right{
        max-width: 100%;
    }
    
}
@media only screen and (max-width: 730px) {
    .education_text{
        font-size: 14px;
    
    }
    .left_seg_line{
        height: 130px;        
    }
    .about_two_right{
        max-width: 85%;
    }
    .block{
        height: 850px;
    }
    .two{
      height: 735px;
    }
    .my_about_img{
        width: 305px;
        height: 305px;
        border-radius: 190px;
    
}
.circle_img{
    height: 100px;
    width: 100px;
    border-radius: 50%;

}
.my_about_img img{
    transform: scale(0.6) translate(-766px, -1210px)
}
.dancing img{
transform: translateX(-89px) scale(0.6) translateY(-64px)
}

.reading img {
    transform: scale(0.6) translate(-157px, -56px);
}
.travelling img {
    transform: scale(0.6) translate(-148px, -58px);
}
}
@media only screen and (max-width: 570px) {
    .left_seg_line{
        height: 150px;        
    }
    .about_me{
        font-size: 110px;
        
    }
    .circle_img{
        height: 80px;
        width: 80px;
        border-radius: 80px;        

    }
    .reading img {
        transform: scale(0.6) translate(-171px, -60px);
    }
    .coding img
        {
            transform: scale(0.7) translate(-86px, -41px);
        }
    .dancing img {
            transform: translateX(-99px) scale(0.6) translateY(-81px);
        }
        .travelling img {
            transform: scale(0.6) translate(-174px, -60px);
        }
        .about_me_intro{
            font-size: 17px;
        }
        .aboutimgs img{
            width: 405px;
        }
    

}

@media only screen and (max-width: 510px) {
    .institute{
        font-size: 27px;
    }
    .about_me{
        font-size: 100px;
        
    }
.about_me_intro{
    font-size: 17px;
}

.education_text{
    font-size: 15px;

}
.education{
    font-size: 47px;
}
.interests{
    font-size: 45px;
}
.my_about_img img{
    transform: scale(0.6) translate(-772px, -1210px)
}
.reading img {
        transform: scale(0.5) translate(-223px, -88px);
    }
    .left_seg_line{
        height: 155px;        
    }
    .about_two_right {
        max-width: 100%;
    }
    .block{
        height: 859px;
    }

}

@media only screen and (max-width:435px) {
    .institute{
        font-size: 25px;
    
    }
    .about_me{
        font-size: 80px;
    }
    .education{
        font-size: 40px;
    }
    .education_text{
        font-size: 13px;
    }
    .aboutimgs img{
        width: 300px;


    }
    .my_about_img img{
        /* transform: scale(0.6) translate(-796px, -1210px) */
    }
    .interests{
        font-size: 38px;
    }
    .hobbies{
        display: flex;
        flex-direction: column;

    }
    .circle_img{
        height: 100px;
        width: 100px;
        border-radius: 100px;
        margin-top: 15px;
    }
    .about_me_intro{
        font-size: 15px;
    }
    .two{
        height: 750px;
    }
    .reading img {
        transform: scale(0.6) translate(-171px, -66px);
    }
    
}








